In [1]:
import matplotlib.pyplot as plt
from utils import validate, package_run_data, package_calib_data, circdist, circmedian

In [ ]:
ctiraltable, med, std, ctimetable = package_calib_data(do_clip=False)

Loading data: 100%|██████████| 52/52 [00:00<00:00, 290.71it/s]

In [ ]:
rtrialtable, rtimetable = package_run_data(med, std, do_clip=False)

Loading data: 100%|██████████| 312/312 [00:00<00:00, 315.50it/s]

In [ ]:
rtrialtable.head().round(2)

,subj,sess,run,trial,target,t_calib,resp,resp_err,v_err,exp,nn,1sig,2sig,nn_c,att,coh,exp_al,f_onset,f_resp,dir
0,0,0,0,0,159.0,145.88,150.88,5.00,5.00,145.88,145.88,1.0,1.0,1.0,-1,1,1.0,132,373,higher
1,0,0,0,1,123.0,138.72,127.92,10.80,-10.80,145.88,138.72,1.0,1.0,1.0,1,1,0.0,204,280,lower
2,0,0,0,2,51.0,32.87,131.00,98.13,98.13,145.88,138.72,0.0,0.0,0.0,1,1,0.0,168,250,higher
3,0,0,0,3,159.0,145.88,144.78,1.10,-1.10,145.88,145.88,1.0,1.0,1.0,-1,1,1.0,168,337,lower
4,0,0,0,4,15.0,18.75,142.79,124.04,124.04,145.88,145.88,0.0,0.0,0.0,-1,-1,0.0,180,270,higher